#story-container {
  display: inline-block;
  .form-group, #item_who, #item_what {
    display: inline-block;
  }
  #item_who {
    width: 82%;
    margin-left: 10px;
  }
  #item_what {
    margin-left: 10px;
    width: 80%;
  }
}

ul#items {
  padding: 0;
}

.item {
  list-style-type: none;
  .item-status {
    .item-buttons {
      & a {
        margin: 0 0 0 5px;
      }
    }
    .score {
      font-weight: 600;
      margin-right: 5px;
    }
    .assigned-to {
      font-size: 12px;
      font-weight: 600;
    }
  }
  .item-content {
    color: rgba(0, 0, 0, 0.75);
    .item-number {
      margin-top: 5px;
      color: rgba(0, 0, 0, 0.25);
      font-size: 0.9em;
    }
    .item-links {
      margin: 5px auto -5px auto;
    }
    .description {
      margin: 10px auto;
    }
  }
}

#item-show {
  #creator {
    text-align: right;
  }
}
