ul#projects {
  margin: 20px auto;
  padding: 0;
  li {
    list-style-type: none;
    .title {
      font-size: 17px;
      display: inline-block;
    }
    .links {
      display: inline-block;
      margin-left: 5px;
    }
  }
}

#project-items {
  h2 {
    font-size: 1.2em;
  }
}

#token {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}
