ul#projects {
  margin: 40px;
  li {
    list-style-type: none;
    .title {
      font-size: 1.5em;
      display: inline-block;
    }
    .links {
      display: inline-block;
      margin-left: 20px;
    }
  }
}
